.board {
  padding-bottom: 40px;
}

.board__noresult {
  font-size: 30px;
  margin: 0 auto;
  text-align: center;
  text-decoration: underline;
  padding-top: 30px;
  padding-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .board {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
  }

  .board__noresult {
    padding-top: 50px;
    padding-bottom: 30px;
    font-size: 60px;
  }
}

@media (min-width: $desktop-width) {
  .board {
    flex-direction: row;
    width: $desktop-width;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
  }

  .board__noresult {
    padding-top: 70px;
    padding-bottom: 70px;
    font-size: 90px;
  }
}
