.page-title {
  margin: 0 auto;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .page-title {
    font-size: 40px;
  }
}

@media (min-width: $desktop-width) {
  .page-title {
    font-size: 53px;
  }
}
