@media (min-width: $tablet-width) {
  .board {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .board {
    flex-direction: row;
  }
}
