.flight {
  border-top: 1px solid #ffffff;

  &:last-child {
    border-bottom: 1px solid #ffffff;
  }
}

.flight__inner {
  padding-top: 20px;
  padding-bottom: 20px;

  margin-bottom: 10px;
}

.flight__content {
  padding-top: 10px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.flight__extra-info {
  display: none;
}

.flight__title {
  margin: 0;
  padding-top: 5px;
  padding-bottom: 10px;
}

.flight__from-to {
  margin: 0;
  padding-bottom: 10px;
}

.flight__from {
  font-weight: bold;
  text-transform: uppercase;
}

.flight__to {
  font-weight: bold;
  text-transform: uppercase;
}

.flight__status {
  margin: 0;
}

.flight__state {
  font-weight: bold;
  text-transform: uppercase;

  &--arrived {
    color: green;
  }

  &--departed {
    color: orange;
  }

  &--delayed {
    color: red;
  }
}

.flight__plane-desc {
  word-break: break-word;
  margin: 0;
}

.flight__plane {
  text-transform: uppercase;
  color: #2ccbc2;
}

.flight__company-desc {
  margin: 0;
}

.flight__company {
  text-transform: uppercase;
  text-decoration: underline;
  color: #ffffff;
}

.flight__button {
  display: inline-block;

  border: 1px solid black;
  border-radius: 30px;

  text-align: center;
  vertical-align: middle;

  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #b9bbca;

  width: 100%;

  margin: 0 auto;

  &:hover {
    background-color: #b9bbda;
  }

  &:active {
    background-color: #b9bbe8;
  }
}

@media (min-width: $tablet-width) {
  .flight__inner {
    margin-bottom: 20px;
    margin: 0 auto;
    width: 550px;
    padding-bottom: 30px;
  }

  .flight__content {
    width: 100%;
    display: flex;
    min-height: 140px;
  }

  .flight__extra-info {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .flight {
    &:nth-last-child(2) {
      border-bottom: 1px solid #ffffff;
    }
  }

  .flight__inner {
    width: 525px;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }

  .flight__main-info {
    width: 275px;
  }

  .flight__title {
    font-size: 30px;
  }

  .flight__from-to {
    font-size: 21px;
  }

  .flight__status {
    font-size: 20px;
  }

  .flight__extra-info {
    width: 260px;
    flex-wrap: wrap;
  }

  .flight__plane-desc {
    font-size: 21px;
  }

  .flight__company-desc {
    font-size: 21px;
  }
}
